<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-type' />
  </head>
    <body>
      <h1>Attention!</h1>
      <p>The gauntlet has been thrown down</p>
      <p>you have been challenged by <%= @other_user.username %></p>
    </body>

</html>