<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-type' />
  </head>
    <body>
      <h1>Welcome Bros of all kinds!</h1>
      <p>Thanks for joining bro down throw down</p>
      <p>to login please go to <%= @url %></p>
    </body>

</html>