<%= render partial: "user", locals: {user: @user} %>

<!-- not sure if the following logic should be here or back in the controller -->
<% if logged_in? && current_user.id != @user.id && current_user.challenged.include?(@user) == false %>

<%= button_to "Add to my fight card", relationships_path({challenger_id: session[:user_id], challenged_id: @user.id}), class: "btn btn-default", method: "POST" %>
<% end %>

<h5>Challengers</h1>
<% @challengers.each do |challenger| %>
  <p>
    <%= challenger.challenger.username %>
  </p>

<% end %>


<h5>Challenged Fighters</h1>
<% @challenged.each do |challenged| %>
  <p>
    <%= challenged.challenged.username %>
  </p>

<% end %>


